@import '_variables'
@import '~bootstrap/scss/bootstrap'
@import 'bootstrap-rtl'
body, html
	background-color: #fafafa
#admin-content
	border-radius: 5px
	box-shadow: 0px 0px 1px 1px #eaeaea
	background: #fff !important
	min-height: 70vh
#side-nav
