
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'global';

 body{
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
     background-color: #fff;
}
#landing-page:after{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/img/plans-bg-right.svg");
    background-position: center right;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -100;

}
#landing-page{
    min-width: 100vw;
    min-height: 100vh;
    background: url("/img/plans-bg-left.svg");
    background-position: center left;
    background-repeat: no-repeat;
    padding: 50px;
    h1{
        font-size: 2em;
        //color: #fafafa;
    }
    p{
        font-size: 1.2em;
        //color: #fafafa;
    }
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #fff;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #7886d7;
    border: .05rem solid #fff;
}
#reset_pass_form{
    background-color: #fafafa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 60vh;
    -webkit-box-shadow: 0px 0px 13px 3px #7979791c;
    -moz-box-shadow: 0px 0px 13px 3px #7979791c;
    box-shadow: 0px 0px 13px 3px #7979791c;
}

// ========== about page ==========
#about-page{
    padding-top: 100px;
    .about-item img{
        width: 300px;
        height: 300px;
    }
    .about-item{
        margin: 50px 0;
    }
}

#main-footer{
    margin-top: 100px;
    background-color: #e2e3e5;
    .footer-left{
        background-color: #fff;
    }
}

#developers{
    background-color: transparent;
    .developer-img{
        width: 200px;
        height: 200px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }
    .card{
        background-color: transparent;
        position: relative;
    }
    .card img{
        width: 200px;
        height: 200px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }

}

@media screen and (max-width: 1024px){
    #landing-page{
        -webkit-background-size: 800px;
        background-size: 800px;
        background-position: center left;
    }
    #landing-page:after{
        display: none;
        -webkit-background-size: 400px;
        background-size: 400px;
        background-position: bottom right;
    }
    #landing-page{
        h1, p{
            color: #f5f8fa;
        }
    }

    #about-page .dialog-box{
        max-width: 300px
    }
}

@media screen and (max-width: 960px){
    #reset_pass_form{
        box-shadow: none;
    }
    #landing-page{
        padding: 0px;
        h1, p{
            color: #2F3133;
        }
    }
    #landing-page {
        -webkit-background-size: 250px;
        background-size: 250px;
        background-position: top left;
    }
    #landing-page:after{
        display: block;
        -webkit-background-size: 250px;
        background-size: 250px;
        background-position: bottom right;
    }


}

@media screen and (max-width: 760px){
    #landing-page{
        h1, p{
            color: #2F3133;
        }
    }
    #landing-page{
        -webkit-background-size: 190px;
        background-size: 190px;
        background-position: top left;
    }
    #landing-page:after{
        display: block;
        -webkit-background-size: 140px;
        background-size: 140px;
        background-position: bottom right;
    }
    .about-item img{
        width: 200px !important;
        height: 200px !important;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }

}





